{% extends "base.html" %}
{% block title %}Companies List | {{ block.super }} {% endblock %}


{% block content %}

  <form method='GET' action='' class='d-flex row justify-content-center'>
    <div class='col-sm-6'>
        <div class='input-group'>
            <input class='form-control' type='text' name='q' placeholder='Search company' value='{{ request.GET.q }}'/>
            <span class='input-group-btn'>
                <!-- <input class='btn btn-default' type='submit' value='Search' /> -->
                <button class='btn btn-default' type='submit'>Search <i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
  </form>

  <header class=' d-flex row justify-content-center'>
    <h4>
      Companies List
    </h4>
  </header> 
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Company Name</th>
          <th>Address</th>
          <th>Contact</th>
          <th>Email</th>
          <th>Edit</th>
          <th>Delete</th>
          <!-- <th>Total Exports</th>
          <th>Paid <i class="fas fa-dollar-sign"></i></th> -->
        </tr>
      </thead>
      
        <tbody>
          {% for company in object_list %}
          <tr>
            <td style="font-size: 20px;">
              <a href="{% url 'company:stores_list' company.slug %}">{{ company.name }}</a></td>
            <td>{{ company.address }}</td>
            <td>{{ company.contact }}</td>
            <td>{{ company.email }}</td>
            
            <td><a href="{% url 'company:update_company' company.owner.slug company.slug %}">
              <i class="fa fa-edit fa-2x" aria-hidden="true"></i></a></td>
            <td><a href="{% url 'company:delete_company' company.owner.slug company.slug %}">
              <i class="fa fa-trash text-danger fa-2x" aria-hidden="true"></i></a></td>
            
          </tr>
          {% endfor %}
        </tbody>
      
    </table>
  </div>


{% endblock content %}
