{% extends "base.html" %}
{% block title %}Customer Info | {{ block.super }} {% endblock %}


{% block content %}

  <h3 >Customer Information</h3>
  <div class="row">
    <div class="col-sm-6">
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th>Name</th>
            <td>{{ customer.name }}</td>
          </tr>
          <tr>
            <th>ID Card</th>
            <td>{{ customer.id_card_number }}</td>
          </tr>
          <tr>
            <th>Address</th>
            <td>{{ customer.address }}</td>
          </tr>
          <tr>
            <th>Contact</th>
            <td>{{ customer.contact }}</td>
          </tr>

          <tr>
            <th>Paid Payments</th>
            <td>{{ customer.paid_payments }}</td>
            
          </tr>

          <tr>
            <th>Total Payment should be paid</th>
            <td>{{ customer.payments_should_be_paid }}</td>
          </tr>

          
          
        </table>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th>Add Payment</th>
            <td><a title="Add Payments!" href="{% url 'store:add_customer_payment' customer.store.slug customer.slug %}"><i class="far fa-credit-card text-success fa-2x"></i></a></td>
          </tr>
          <tr>
            <th>Export</th>
            <td><a href="{% url 'store:add_export' customer.store.slug customer.slug %}"><i class="fas fa-upload text-secondary fa-2x"></i></a></td>
          </tr>

          <tr>
            <th>Edit</th>
            <td><a href="{% url 'store:update_customer' customer.store.slug customer.slug %}"><i class="fa fa-edit fa-2x" aria-hidden="true"></i></a></td>
          </tr>
          <tr>
            <th>Delete</th>
            <td><a href="{% url 'store:delete_customer' customer.store.slug customer.slug %}"><i class="fa fa-trash text-danger fa-2x" aria-hidden="true"></i></a></td>
          </tr>
          <tr>
              <th>Payments Done/Not Done</th>
              <td>
              {% if customer.paid_payments >= customer.payments_should_be_paid %}
                <i class="fa fa-check fa-2x" aria-hidden="true"></i>
              {% else %}
                <i class="fa fa-cross fa-2x" aria-hidden="true"></i>
              {% endif %}
            </td>
            </tr>
        </table>
      </div>
    </div>
  </div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="export-tab" data-toggle="tab" href="#export" role="tab" aria-controls="export" aria-selected="true">Exports
      <span class="badge badge-primary ml-2 float-right">{{ customer.customer_exports.all.count }}</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="payments-tab" data-toggle="tab" href="#payments" role="tab" aria-controls="payments" aria-selected="false">Payments 
        <span class="badge badge-primary ml-2 float-right">{{ customer.customer_payments.all.count }}</span></a>
    </li>
    
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="export" role="tabpanel" aria-labelledby="export-tab">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Full Info</th>
            <th>Product name</th>
            <th>Date</th>
            <th>Containers</th>
            <th>Edit</th>
            <th>Delete</th>
            
          </tr>
        </thead>
        <tbody>
          {% for export in customer.customer_exports.all %}
          <tr>
            <td><a href="{% url 'store:export_details' export.store.slug export.slug %}" class="btn btn-sm btn-info" role="button">Full Info</a></td>
            <td>{{ export.containers_of }}</td>
            <td>{{ export.date }}</td>
            <td>{{ export.number_of_containers }}</td>
            
            <td>
              <a href="{% url 'store:update_export' export.store.slug customer.slug export.slug %}">
            <i class="fa fa-edit fa-2x" aria-hidden="true"></i>
            </a>
            </td>
            <td><a href="{% url 'store:delete_export' export.store.slug export.slug %}">
            <i class="fa fa-trash fa-2x text-danger" aria-hidden="true"></i>
            </a></td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="payments" role="tabpanel" aria-labelledby="payments-tab">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Method</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for payment in customer.customer_payments.all %}
          <tr>
            <td>{{ payment.payment_method }}</td>
            <td>{{ payment.amount }}</td>
            <td>{{ payment.date }}</td>
            <td><a href="{% url 'store:update_customer_payment' customer.store.slug customer.slug payment.slug %}">
              <i class="fa fa-edit fa-2x" aria-hidden="true"></i></a></td>
            <td><a href="{% url 'store:delete_customer_payment' customer.store.slug customer.slug payment.slug %}">
              <i class="fa fa-trash text-danger fa-2x" aria-hidden="true"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


{% endblock %}
