{% extends "base.html" %}
{% block title %}Import Details | {{ block.super }} {% endblock %}

{% block msg %}
  {{ block.supper }}
{% endblock %}



{% block content %}
  
  <div class="container">
    <h4>Import Details</h4>
    <div class="row">
      <div class="col-sm-6">
        <table class="table table-sm">
          <tr>
            <th>Store</th> <td>{{ import.store }}</td>
          </tr>
          <tr>
            <th>Supplier</th><td><strong><a href="{% url 'store:supplier_profile' import.store.slug import.supplier.slug %}">{{ import.supplier }}</td>
          </tr>
          <tr>
            <th>Recipt Number from supplier</th> <td>{{ import.supplier_recipt_number}}</td>
          </tr>
          <tr>
            <th>Truck Number</th> <td>{{ import.truck_plate_number }}</td>
          </tr>
          <tr>
            <th>Product</th> <td>{{ import.containers_of }}</td>
          </tr>
          <tr>
            <th>Containers</th> <td>{{ import.number_of_containers }}</td>
          </tr>
          
        </table>
      </div>
      <div class="col-sm-6">
        <table class="table table-sm">
          <tr>
            <th>Type Of Container</th> <td>{{ import.type_of_containers }}</td>
          </tr>
          <tr>
            <th>Cost</th> <td>{{ import.cost }}</td>
          </tr>
          <tr>
            <th>Price of single item</th> <td>{{ import.price_of_singal_item }}</td>
          </tr>
          <tr>
            <th>Date</th> <td>{{ import.date }}</td>
          </tr>
          <tr>
            <th>Total Price</th> <td>{{ import.total_price }}</td>
          </tr>
          
          <tr>
            <td>
              <a href="{% url 'store:update_import' import.store.slug import.supplier.slug import.slug %}">
                <i class="fa fa-edit fa-2x" aria-hidden="true"></i></a>
            </td>
            <td>
              <a href="{% url 'store:delete_import' import.store.slug import.slug %}">
                <i class="fa fa-trash fa-2x text-danger" aria-hidden="true"></i></a>
            </td>
          </tr>
        </table>
      </div>
  </div>
  </div>
  


{% endblock %}
