{% extends "base.html" %}
{% block title %}Payments to suppliers | {{ block.super }} {% endblock %}



{% block content %}
  <h1 class="h4">
    Payments to Suppliers
  </h1>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Supplier</th>
          <th>Method</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Edit</th>
          <th>Delete</th>

      </tr>
      </thead>
      <tbody>
        {% for payment in object_list %}
          <tr>
            <td>{{ payment.supplier }}</td>
            <td>{{ payment.payment_method }}</td>
            <td>{{ payment.amount }}</td>
            <td>{{ payment.date }}</td>
            <td><a href="{% url 'store:update_supplier_payment' payment.store.slug payment.supplier.slug payment.slug %}">
              <i class="fa fa-edit fa-2x" aria-hidden="true"></i></a></td>
            <td><a class="delete_button" href="{% url 'store:delete_supplier_payment' payment.store.slug payment.supplier.slug payment.slug %}" onclick="return confirm_alert(this);">
              <i class="fa fa-trash fa-2x text-danger" aria-hidden="true"></i></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock content %}
