{% extends "base.html" %}
{% block title %}Companies List | {{ block.super }} {% endblock %}


{% block content %}

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Stores List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#secondNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="secondNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a href="{% url 'company:add_store' company_slug %}" class="nav-link ">Add Store <i class="fas fa-plus mr-3"></i></a>
        </li>
        
      </ul>
      <form method='GET' action='' class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type='text' name='q' placeholder='Search Store' value='{{ request.GET.q }}' aria-label="Search">
        <button class="btn btn-default my-2 my-sm-0" type="submit">Search <i class="fa fa-search"></i></button>
      </form>
    </div>
  </nav>


  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Store Name</th>
          <th>Address</th>
          <th>Contact</th>
          <th>Edit</th>
          <th>Delete</th>
          <!-- <th>Total Exports</th>
          <th>Paid <i class="fas fa-dollar-sign"></i></th> -->
        </tr>
      </thead>
      
        <tbody>
          {% for store in object_list %}
          <tr>
            <td style="font-size: 20px;">
              <a href="{% url 'store:dashboard' store.slug %}">{{ store.name }}</a></td>
            <td>{{ store.address }}</td>
            <td>{{ store.capacity }}</td>

            <td><a href="{% url 'company:update_store' store.company.slug store.slug %}">
              <i class="fa fa-edit fa-2x" aria-hidden="true"></i></a></td>
            <td><a class="delete_button" href="{% url 'company:delete_store' store.company.slug store.slug %}">
              <i class="fa fa-trash text-danger fa-2x" aria-hidden="true"></i></a></td>
            
          </tr>
          {% endfor %}
        </tbody>
      
    </table>
  </div>


{% endblock content %}
