{% extends "base.html" %}
{% block title %}Suppliers list | {{ block.super }} {% endblock %}


{% block content %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Suppliers List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#secondNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="secondNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a href="{% url 'store:add_customer' store_slug %}" class="nav-link "> <i class="fas fa-plus mr-3"></i>Customer</a>
        </li>

       <li>
         <a href="{% url 'store:add_product' store_slug %}" class="nav-link"> <i class="fas fa-plus mr-3"></i>Product</a>
       </li> 
              
        <li>
          <a href="{% url 'store:add_customer' store_slug %}" class="nav-link"> <i class="fas fa-plus mr-3"></i>Customer</a>
        </li>

        <li>
          <a href="{% url 'store:add_supplier' store_slug %}" class="nav-link"> <i class="fas fa-plus mr-3"></i>Supplier</a>
        </li> 
        
      </ul>
      <form method='GET' action='' class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type='text' name='q' placeholder='Search Supplier' value='{{ request.GET.q }}' aria-label="Search">
        <button class="btn btn-default my-2 my-sm-0" type="submit">Search <i class="fa fa-search"></i></button>
      </form>
    </div>
  </nav>

  <div class=" mt-2 table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Supplier Name</th>
          <th>Address</th>
          <th>Contact</th>
          <th>Paid</th>
          <th>Total</th>
          <th>Edit</th>
          <th>Delete</th>
          <th title="click on the icon to add payment">Pays<i class="fas fa-dollar-sign"></i></th>
          <th>Import</th>
        </tr>
      </thead>
      
        <tbody>
          {% for supplier in object_list %}
          <tr>
            <td style="font-size: 20px;"><a href="{% url 'store:supplier_profile' supplier.store.slug supplier.slug %}"> {{ supplier.name }}</a></td>
            <td>{{ supplier.address }}</td>
            <td>{{ supplier.contact }}</td>
            <td>{{ supplier.paid_payments }}</td>
            <td>{{ supplier.payments_should_be_paid }}</td>
            <td><a href="{% url 'store:update_supplier' supplier.store.slug supplier.slug %}">
              <i class="fa fa-edit fa-2x" aria-hidden="true"></i></a></td>
            <td><a class="delete_button" href="{% url 'store:delete_supplier' supplier.store.slug supplier.slug %}">
              <i class="fa fa-trash text-danger fa-2x" aria-hidden="true"></i></a></td>
            <td>
              {% if supplier.paid_payments >= supplier.payments_should_be_paid %}
                <a href="{% url 'store:add_supplier_payment' supplier.store.slug supplier.slug %}">
                  <i class="fa fa-check fa-2x text-success" aria-hidden="true"></i>
                </a>
              {% else %}
                <a href="{% url 'store:add_supplier_payment' supplier.store.slug supplier.slug %}">
                  <i class="fa fa-cross fa-2x text-danger" aria-hidden="true"></i>
                </a>
              {% endif %}
            </td>
            <td><a href="{% url 'store:add_import' supplier.store.slug supplier.slug %}"><i class="fas fa-download text-secondary fa-2x"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      
    </table>
  </div>

{% endblock content %}
